.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:75px;
  background-color: black; /* Black bar */
  padding: 10px; /* Adjust the padding as needed */
 
 
  
 
  
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height:75px;
  background-color: black; /* Black bar */
  padding: 10px; /* Adjust the padding as needed */
  display: flex;
}

h1{
color: white;
font-size: 40px;
font-family: Arial;
width: 55%;


	
}

.header{
	
  display: flex;
  align-items: center;
  justify-content: space-between;
  
	
}
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #414BB2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
    }

    .container {
      display: flex;
      align-items: center;
    }

    .svg-container {
      margin-right: 1000px;
	 
    }

    svg {
      max-width: 200px;
      height: auto;
    }

    

    .chat-box {
      max-width: 100%;
      border: 4px solid #1A1A1A;
      border-radius: 8px;
      overflow: hidden;
	  
	 
    }

    .chat-messages {
      padding: 10px;
      height: 300px;
      overflow-y: auto;
      background-color: #C23DD5;
	  color: #FFFFFF;  
    }

    .user-input {
      display: flex;
      padding: 10px;
      background-color: #C23DD5;
	  
	  
    }

    .user-input input {
      flex: 1;
      padding: 8px;
      border: 4px solid #1A1A1A;
      border-radius: 4px;
      margin-right: 8px;
	  background-color: #C23DD5;
	  color: #FFFFFF;
    }

    .user-input button {
      padding: 8px;
      background-color: #C23DD5;
      color: #FFFFFF;
      border: 4px solid #1A1A1A;
      border-radius: 4px;
      cursor: pointer;
    }
	
	.circle{
	width: 100vw;
	height: 100vh;
	margin-left: 200px;	
		
		
	}